* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
        font-family: "Roboto",sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-size: 20px;
        font-family: "Roboto",sans-serif;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
}
.header-image img{
    width: 100%;
}
p {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: justify;
    font-size: 18px;
  }

header{
    width: 100%;
    display: inline-block;
    min-height: 50px;
}
header .logo{
    float: left;
}
header .logo img{
    width: 180px;
}
.content {
    margin: 20px 0;
}
.form-block{
    padding: 30px 50px;
    background: #f2f2f2;
    display: inline-block;
    width: 100%;
}
input{
    border: 1px solid #818181;
    background: #f9f9f9;
    padding: 10px 15px;
    width: 100%;
    margin: 10px 0;
    font-size: 20px;

}
.left-block img{
    box-shadow: 0px 0px 20px #00000050;
}
.left-block{
    float: left;
}
.right-block{
    float: right;
    width: 640px;
    margin-top: 100px;
}
button{
    /*width: 100%;*/
    padding: 15px 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background: #0c3e60;
    color: #fff;
    border: 0px;
    margin-top: 10px;
}
footer{
    width: 100%;    
    background: #0c3e60;
}
footer p{
    margin: 0;
    padding: 35px 0;
    color: #fff;
    text-align: center;
    font-size: 18px;
}
.footer-bottom{
    position: absolute;
    bottom: 0;
}
.thanks p{
    text-align: center;
}
.thanks {
    /*margin-top: 250px;*/
}
.thanks .form-block{
    max-width: 1000px;
    display: block;
    margin: 30px auto 50px auto;
    text-align: center;
}
.thanks .form-block button{
    width: auto;
    padding: 15px 50px;

}
.button{
  /*width: 400px;*/
    padding: 15px 0;
    text-align: center !important;
    font-weight: bold;
    font-size: 20px;
    background: #0c3e60;
    color: #fff;
    border: 0px;
    margin-top: 10px;  
    text-decoration: none;
       display: inline-block;
    padding: 15px 30px;
}
.submit{
    cursor: pointer;
}

.center{
    text-align: center;
}
.mobile-only{
    display: none !important;
}
@media only screen and (max-width: 700px) {
    .content {
        margin: 20px;
    }
    .right-block, .left-block img{
        width: 100%;
             margin-top: 20px; 
    }
    .mobile-only{
        display: block !important;
    }
}

@media(max-width: 600px){
    footer p{
        padding: 20px 0;
        font-size: 15px;
    }
}